import { Component, ViewChild, ViewChildren, ContentChild, QueryList } from '@angular/core';

@Component({
  selector: 'counter',
  template: '<h2>{{counter}}</h2>'
})
export class Counter {
  counter: number = 0;
  
  increment() {
    this.counter++;
  }
}

@Component({
  selector: 'my-dialog',
  template: `
  <button (click)="counter.increment()">Increment Content Child </button>
  <ng-content></ng-content>
  `
})
export class MyDialog {
  @ContentChild(Counter) counter: Counter;
}

@Component({
  selector: 'my-app',
  template: `
  <button (click)="counter.increment()">Increment View Child </button>
  <my-dialog>
    <counter></counter>
  </my-dialog>
  
  <counter></counter>
  <counter></counter>
  <counter></counter>
  <counter></counter>
  <button (click)="incrementChildren()">Increment View Children </button>
  
  `
})
export class AppComponent {
  @ViewChild(Counter) counter: Counter;
  @ViewChildren(Counter) counters: QueryList<Counter>;
  
  incrementChildren() {
    this.counters.forEach(counter => {
      counter.increment();
    });
  }
}
/*
Copyright 2017 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
	<div class="m-t-1">
    <router-outlet></router-outlet>
  </div>
